<!-- HEADER TRANSPARENTE -->
<ion-header class="auth-header">
  <ion-toolbar class="main-toolbar">
    
    <!-- IZQUIERDA: Botón Volver -->
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/home']" color="light" fill="clear">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <!-- DERECHA: Logo GemVirt (Tamaño Home) -->
    <ion-buttons slot="end">
      <div class="logo-container">
        <a [routerLink]="['/home']" class="logo-container">
        <ion-img src="/assets/icon/Gemvirt_logo.png" alt="Logo GemVirt" class="logo"></ion-img>
        </a>
      </div>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="auth-content">
  
  <div class="main-wrapper">
    <!-- TARJETA DE REGISTRO -->
    <div class="auth-card">
      
      <div class="auth-header-text">
        <h2>Crear Cuenta</h2>
        <p>Únete a la comunidad digital.</p>
      </div>

      <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
        
        <!-- INPUT: NOMBRE -->
        <!-- <div class="custom-input-group">
          <div class="input-wrapper" [class.error-border]="nombre?.invalid && nombre?.touched">
            <ion-icon name="person-outline" class="input-icon"></ion-icon>
            <input 
              type="text" 
              placeholder="Nombre Completo" 
              formControlName="nombre"
              class="native-input">
          </div>
          <div class="error-msg" *ngIf="nombre?.invalid && nombre?.touched">
            <span *ngIf="nombre?.hasError('required')">Nombre requerido</span>
            <span *ngIf="nombre?.hasError('minlength')">Mínimo 3 caracteres</span>
          </div>
        </div> -->

        <!-- INPUT: FIRST NAME -->
        <div class="custom-input-group">
          <div class="input-wrapper" [class.error-border]="first_name?.invalid && first_name?.touched">
            <ion-icon name="person-outline" class="field-icon"></ion-icon>
            <input type="text" placeholder="Nombre" formControlName="first_name" class="native-input">
          </div>
          <div class="error-msg" *ngIf="first_name?.invalid && first_name?.touched">
            <span *ngIf="first_name?.hasError('required')">Nombre requerido</span>
            <span *ngIf="first_name?.hasError('minlength')">Mínimo 2 letras</span>
          </div>
        </div>

        <!-- INPUT: LAST NAME -->
        <div class="custom-input-group">
          <div class="input-wrapper" [class.error-border]="last_name?.invalid && last_name?.touched">
            <ion-icon name="person-outline" class="field-icon"></ion-icon>
            <input type="text" placeholder="Apellido" formControlName="last_name" class="native-input">
          </div>
          <div class="error-msg" *ngIf="last_name?.invalid && last_name?.touched">
            <span *ngIf="last_name?.hasError('required')">Apellido requerido</span>
            <span *ngIf="last_name?.hasError('minlength')">Mínimo 2 letras</span>
          </div>
        </div>

        <!-- INPUT: EMAIL -->
        <div class="custom-input-group">
          <div class="input-wrapper" [class.error-border]="email?.invalid && email?.touched">
            <ion-icon name="mail-outline" class="input-icon"></ion-icon>
            <input 
              type="email" 
              placeholder="Email Institucional" 
              formControlName="email"
              class="native-input">
          </div>
          <div class="error-msg" *ngIf="email?.invalid && email?.touched">
            <span *ngIf="email?.hasError('required')">Email requerido</span>
            <span *ngIf="email?.hasError('invalidDuocEmail')">Solo correos Duoc UC</span>
          </div>
        </div>

        <!-- INPUT: PASSWORD -->
        <div class="custom-input-group">
          <div class="input-wrapper" [class.error-border]="password?.invalid && password?.touched">
            <ion-icon name="lock-closed-outline" class="input-icon"></ion-icon>
            <input 
              [type]="passwordVisible ? 'text' : 'password'" 
              placeholder="Contraseña" 
              formControlName="password"
              class="native-input">
            <ion-icon 
              [name]="passwordVisible ? 'eye-off-outline' : 'eye-outline'" 
              class="eye-icon"
              (click)="togglePasswordVisibility()">
            </ion-icon>
          </div>
          <div class="error-msg" *ngIf="password?.invalid && password?.touched">
            <span *ngIf="password?.hasError('minlength')">Mínimo 8 caracteres</span>
          </div>
        </div>

        <!-- INPUT: CONFIRM PASSWORD -->
        <div class="custom-input-group">
          <div class="input-wrapper" [class.error-border]="confirmPassword?.invalid && confirmPassword?.touched">
            <ion-icon name="lock-closed-outline" class="input-icon"></ion-icon>
            <input 
              [type]="confirmPasswordVisible ? 'text' : 'password'" 
              placeholder="Confirmar Contraseña" 
              formControlName="confirmPassword"
              class="native-input">
            <ion-icon 
              [name]="confirmPasswordVisible ? 'eye-off-outline' : 'eye-outline'" 
              class="eye-icon"
              (click)="toggleConfirmPasswordVisibility()">
            </ion-icon>
          </div>
          <div class="error-msg" *ngIf="confirmPassword?.hasError('passwordsDoNotMatch') && confirmPassword?.touched">
            Las contraseñas no coinciden
          </div>
        </div>

        <!-- BOTÓN -->
        <ion-button expand="block" type="submit" class="btn-submit" [disabled]="registroForm.invalid">
          CREAR CUENTA
        </ion-button>

      </form>

      <div class="auth-footer-link">
        <p>¿Ya tienes una cuenta? <a [routerLink]="['/login']">INICIA SESIÓN AQUÍ</a></p>
      </div>

    </div>
  </div>

  <!-- FOOTER -->
  <app-footer></app-footer>

</ion-content>