<ion-footer class="dark-footer">
  <div class="footer-content">
    
    <!-- 1. Enlaces de Navegación (Arriba) -->
     <!--<nav class="footer-links">
      <a [routerLink]="['/home']">Inicio</a>
      <a [routerLink]="['/guia-uso']">Guía de Uso</a>
      <a [routerLink]="['/recursos']">Recursos</a>
       Agregamos estos para que se vea completo como en la foto 
      <a href="#">Términos</a>
      <a href="#">Privacidad</a>
      <a href="#">Contacto</a>
    </nav> -->

    <!-- 2. Iconos Sociales (Centro) -->
     <!--<div class="footer-social">
      <a href="https://www.facebook.com" target="_blank" aria-label="Facebook">
        <ion-icon name="logo-facebook"></ion-icon>
      </a>
      <a href="https://twitter.com" target="_blank" aria-label="Twitter">
        <ion-icon name="logo-twitter"></ion-icon>
      </a>
      <a href="https://www.instagram.com/citt_sb/?igsh=a3h0ZHB4OXVuN2x1#" target="_blank" aria-label="Instagram">
        <ion-icon name="logo-instagram"></ion-icon>
      </a>
    </div>

     3. Copyright (Abajo) -->
    <div class="footer-copyright">
      <p>© 2025 GEMVIRT. Desarrollado por Felipe Diaz y Ricardo Uribe.</p>
    </div>

  </div>
</ion-footer>