<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" color="light" [routerLink]="['/gestionar-eventos']">
        <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Editar Evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div class="container">
    
    <div *ngIf="isLoading" class="center-msg">
      <ion-spinner name="crescent" color="primary"></ion-spinner>
      <p>Cargando datos del evento...</p>
    </div>

    <div *ngIf="!isLoading" class="form-wrapper">
      
      <ion-card class="edit-card">
        <ion-card-content>
          
          <div class="section-title">Información General</div>
          
          <ion-item class="custom-input">
            <ion-icon name="text-outline" slot="start" class="input-icon"></ion-icon>
            <ion-label position="stacked">Título del Evento (Máx 150)</ion-label>
            <ion-input [(ngModel)]="eventData.title" type="text" maxlength="150"></ion-input>
          </ion-item>

          <ion-item class="custom-input">
            <ion-icon name="document-text-outline" slot="start" class="input-icon"></ion-icon>
            <ion-label position="stacked">Tipo de Evento (Máx 50)</ion-label>
            <ion-input [(ngModel)]="eventData.event_type" placeholder="Ej: Taller, Charla..." maxlength="50"></ion-input>
          </ion-item>

          <div class="section-title">Horario</div>

          <ion-grid class="time-grid">
            <ion-row>
              <ion-col size="12">
                <ion-item class="custom-input">
                  <ion-icon name="calendar-outline" slot="start" class="input-icon"></ion-icon>
                  <ion-label position="stacked">Fecha</ion-label>
                  <ion-datetime-button datetime="datePicker"></ion-datetime-button>
                  <ion-modal [keepContentsMounted]="true">
                    <ng-template>
                      <ion-datetime id="datePicker" presentation="date" [(ngModel)]="eventData.start_date"></ion-datetime>
                    </ng-template>
                  </ion-modal>
                </ion-item>
              </ion-col>
              
              <ion-col size="6">
                <ion-item class="custom-input">
                  <ion-icon name="time-outline" slot="start" class="input-icon"></ion-icon>
                  <ion-label position="stacked">Inicio</ion-label>
                  <ion-datetime-button datetime="startTime"></ion-datetime-button>
                  <ion-modal [keepContentsMounted]="true">
                    <ng-template>
                      <ion-datetime 
                        id="startTime" 
                        presentation="time" 
                        minuteValues="0,30" 
                        [(ngModel)]="eventData.start_time">
                      </ion-datetime>
                    </ng-template>
                  </ion-modal>
                </ion-item>
              </ion-col>

              <ion-col size="6">
                <ion-item class="custom-input">
                  <ion-icon name="time-outline" slot="start" class="input-icon"></ion-icon>
                  <ion-label position="stacked">Término</ion-label>
                  <ion-datetime-button datetime="endTime"></ion-datetime-button>
                  <ion-modal [keepContentsMounted]="true">
                    <ng-template>
                      <ion-datetime 
                        id="endTime" 
                        presentation="time" 
                        minuteValues="0,30" 
                        [(ngModel)]="eventData.end_time">
                      </ion-datetime>
                    </ng-template>
                  </ion-modal>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>

          <div class="section-title">Detalles</div>

          <ion-item class="custom-input">
            <ion-icon name="people-outline" slot="start" class="input-icon"></ion-icon>
            <ion-label position="stacked">Asistentes (1-50)</ion-label>
            <ion-input type="number" min="1" max="50" [(ngModel)]="eventData.attendees"></ion-input>
          </ion-item>

          <ion-item class="custom-input area">
            <ion-label position="stacked">Descripción (Máx 2000)</ion-label>
            <ion-textarea [(ngModel)]="eventData.description" rows="4" maxlength="2000" placeholder="Detalles del evento..."></ion-textarea>
          </ion-item>

          <div class="actions">
            <ion-button expand="block" (click)="saveChanges()" class="btn-save">
              <ion-icon name="save-outline" slot="start"></ion-icon>
              Guardar Cambios
            </ion-button>
          </div>

        </ion-card-content>
      </ion-card>

    </div>
  </div>

  <app-footer></app-footer>
</ion-content>