<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/booking-type"></ion-back-button>
    </ion-buttons>
    <ion-title>Espacios de Trabajo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Espacios disponibles</h2>

  <div *ngIf="workspaces$ | async as workspaces; else loading">
    <ion-card
      *ngFor="let workspace of workspaces"
      (click)="selectWorkspace(workspace)"
      button="true"
    >
      <img [alt]="workspace.name" [src]="workspace.image" />
      <ion-card-header>
        <ion-card-title>
          <div class="card-title-wrapper">
            <span>{{ workspace.name }}</span>
            <div class="capacity">
              <ion-icon name="people-outline"></ion-icon>
              <span>{{ workspace.max_occupancy }}</span>
            </div>
          </div>
        </ion-card-title>
        <ion-card-subtitle>{{ workspace.description }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div class="amenities-wrapper">
          <ion-chip *ngFor="let amenity of workspace.resources">
            {{ amenity.resource_name }}
          </ion-chip>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <ng-template #loading>
    <div class="ion-text-center ion-padding-top">
      <ion-spinner></ion-spinner>
      <p>Cargando espacios...</p>
    </div>
  </ng-template>
</ion-content>