.card-icon-wrapper {
  background-color: var(--ion-color-primary-tint);
  border-radius: 12px;
  padding: 12px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-icon {
  font-size: 28px;
}